
h1 {
    color: #aa5a6d}
body { 
    font-family:bell; background-image: url(https://thumbs.dreamstime.com/b/dog-paw-seamless-pattern-vector-footprint-cat-paw-cartoon-background-wallpaper-isolated-dog-paw-seamless-pattern-vector-footprint-126051650.jpg); }
.container { background-color:antiquewhite;
}
ul {
    list-style: none;
}
p {
    font-family: : "bell";}
h4 { color: #aa5a6d}